<div class="abt">
<h1>About Us</h1>
 <p><b>Welcome to Dev Match! We are a network for professionals offering extensive offline and online networking opportunities to the Chicago business community. Our mission is to bring professionals together, facilitate the development of mutually beneficial "win-win" relationships, educate, and promote the growth of business in the US. We support members in all phases of their career whether looking for clients, talent, a job, capital, or strategic alliances.</b></p>

<p><b>Dev Match Groups – Each month Dev Match hosts a variety of face-to-face and online networking events targeted to specific professional areas. Each of our groups offer members the opportunity to network with their peers and share leads, contacts, ideas, and other valuable resources. Accomplished speakers are brought in to address current topics of interest.</b></p>
</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Our Purpose:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        To promote a more resilient world
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Our Values:
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <ul>
          <li>Membership Focused – where our members are at the heart of EVERYTHING we do</li>
          <li>Quality Led – consistently delivering a high value, independent service</li>
          <li>Global Reach – building a worldwide community of influential thought leaders </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Our Goals:
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <ul>
          <li>To deliver a consistent “BCI experience” for members to develop and enhance their qualifications and expertise</li>
          <li>To strengthen BCI’s role as “the global thought leader” for continuity and resilience</li>
          <li>To increase BCI’s global influence within both mature and emerging markets which will be reflected by a growth in membership </li>
        </ul>
      </div>
    </div>
  </div>
</div>